@-webkit-keyframes arrowDown {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

@keyframes arrowDown {
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  0% {
    -webkit-transform: translateY(50%);
            transform: translateY(50%);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  color: #0f0f0f;
}

html,
body {
  background-color: #fafafa;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
}

body {
  position: relative;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  height: 100%;
  margin: 0 2.5vw 0 7.5vw;
}

.pos-rel-1 {
  position: relative;
  z-index: 1;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-fdc {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-aic {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.flex-jcc {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-jcsb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jcse {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.fs-big {
  font-size: 2.5vw;
}

.fs-med {
  font-size: 1.75vw;
}

.fs-small {
  font-size: 1.25vw;
}

.fs-smaller {
  font-size: 1vw;
}

.section-title {
  width: 25%;
  border-bottom: 5px solid #fafafa;
  color: #fafafa;
}

.btn {
  cursor: pointer;
  background-color: #ff8400;
  padding: 1vw 0;
  border: none;
  border-radius: 0.5vw;
  -webkit-transition: background-color 0.25s ease-in-out;
  transition: background-color 0.25s ease-in-out;
}

.btn svg {
  width: 2.5vw;
  height: auto;
  margin-left: 1vw;
}

.btn svg path,
.btn svg circle {
  -webkit-transition: fill 0.25s ease-in-out;
  transition: fill 0.25s ease-in-out;
}

.btn p {
  padding: 0 1vw;
  font-weight: 500;
  letter-spacing: 0.5vw;
  color: #fafafa;
}

.btn:hover {
  background-color: #007cff;
}

.btn:hover svg path,
.btn:hover svg circle {
  fill: #fafafa;
}

.btn-ex {
  background-color: #0f0f0f;
}

.btn-ex:hover {
  background-color: #ffa544;
}

.btn-ex:hover svg path,
.btn-ex:hover svg circle {
  fill: #fafafa;
}

.active-btn {
  background-color: #ff8400;
}

.nav {
  background-color: #0f0f0f;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 5%;
  min-height: 35px;
  height: 100%;
}

.nav__logo {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 5%;
  padding: 1vw;
}

.nav__arrow {
  width: 1.5vw;
  height: auto;
  opacity: 0;
  -webkit-transition: opacity 0.25s step-end, -webkit-transform 0.25s ease-in-out;
  transition: opacity 0.25s step-end, -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, opacity 0.25s step-end;
  transition: transform 0.25s ease-in-out, opacity 0.25s step-end, -webkit-transform 0.25s ease-in-out;
}

.nav__links {
  width: 100%;
  height: 100vh;
}

.nav__links li {
  cursor: pointer;
}

.nav__links li p {
  display: none;
  font-size: 5vw;
  line-height: 15vh;
  color: #fafafa;
  -webkit-transition: color 0.25s ease-in-out;
  transition: color 0.25s ease-in-out;
}

.nav__links li svg {
  width: 100%;
  height: auto;
  padding: 1vw;
}

.nav__links li svg path,
.nav__links li svg circle {
  fill: #fafafa;
  -webkit-transition: fill 0.25s ease-in-out;
  transition: fill 0.25s ease-in-out;
}

.nav__links li:hover p {
  color: #b5d9ff;
}

.nav__links li:hover svg path,
.nav__links li:hover svg circle {
  fill: #b5d9ff;
}

.nav__links .active-link p,
.nav__links .active-link:hover p {
  color: #007cff;
}

.nav__links .active-link svg path,
.nav__links .active-link svg circle,
.nav__links .active-link:hover svg path,
.nav__links .active-link:hover svg circle {
  fill: #007cff;
}

.nav__burg {
  cursor: pointer;
  display: none;
  position: relative;
  top: 0;
  right: 1vw;
  float: right;
  height: 100%;
}

.nav__burg span {
  background-color: #fafafa;
  display: block;
  width: 25px;
  height: 5px;
  -webkit-transition: opacity 0.25s ease-in-out, background-color 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  transition: opacity 0.25s ease-in-out, background-color 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out, background-color 0.25s ease-in-out;
  transition: transform 0.25s ease-in-out, opacity 0.25s ease-in-out, background-color 0.25s ease-in-out, -webkit-transform 0.25s ease-in-out;
}

.nav__burg span:not(:last-child) {
  margin-bottom: 5px;
}

@media screen and (max-width: 768px) {
  .nav {
    width: 100%;
    height: 5%;
  }
  .nav__logo {
    width: auto;
    height: 5vh;
    padding: 0 1vw;
  }
  .nav__arrow {
    display: none;
  }
  .nav__links {
    background-color: #0f0f0f;
    width: 100vw;
    height: 0;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-transition: height 0.5s ease-in-out;
    transition: height 0.5s ease-in-out;
  }
  .nav__links li {
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0;
    visibility: hidden;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
  }
  .nav__links li p {
    padding-left: 5vw;
    display: block;
  }
  .nav__links li svg {
    width: 15%;
  }
  .nav__burg {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu-mobile-aux {
    display: none;
  }
  .menu-mobile-active {
    height: 100vh;
  }
  .menu-mobile-active li {
    opacity: 1;
    visibility: visible;
  }
}

.burg-animation span {
  background-color: #007cff;
}

.burg-animation :first-child {
  -webkit-transform: rotate(135deg) translate(8px, -8px);
          transform: rotate(135deg) translate(8px, -8px);
}

.burg-animation :nth-child(2) {
  -webkit-transform: translateX(25px);
          transform: translateX(25px);
  opacity: 0;
}

.burg-animation :last-child {
  -webkit-transform: rotate(-135deg) translate(6px, 7px);
          transform: rotate(-135deg) translate(6px, 7px);
}

.header {
  background-color: #0f0f0f;
  width: 100vw;
  height: 100vh;
}

.header__top {
  width: 100%;
}

.header__top h1 {
  width: 80%;
  padding-top: 30vh;
  border-bottom: 5px solid #fafafa;
  text-align: center;
  color: #fafafa;
}

.header__top .buttons {
  margin: 25px 0;
}

.header__top .buttons button {
  margin: 0 12.5px;
}

.header__bot {
  position: absolute;
  z-index: 1;
  top: 90vh;
  left: 0;
  width: 100%;
  text-align: center;
}

.header__bot p {
  color: #fafafa;
}

.header__bot img {
  width: 1.5vw;
  -webkit-animation: arrowDown 0.75s ease-in-out infinite alternate both;
          animation: arrowDown 0.75s ease-in-out infinite alternate both;
}

.projects {
  background-color: #0f0f0f;
  width: 100vw;
  height: 100vh;
}

.projects__pannel {
  background-color: #fafafa;
  width: 100%;
  height: 80%;
  padding: 1vh 1vw;
  border-radius: 1vw;
}

.projects__pannel .pannel-img {
  width: 33%;
  height: 100%;
  padding: 1vh 1vw;
  text-align: center;
}

.projects__pannel .pannel-img img {
  width: 100%;
}

.projects__pannel .pannel-img .img-change {
  position: relative;
  bottom: 0;
}

.projects__pannel .pannel-img .img-change svg {
  cursor: pointer;
  width: 2.5vw;
  height: auto;
  margin: 1vh 1vw;
}

.projects__pannel .pannel-img .img-change svg line {
  stroke: #ff8400;
  -webkit-transition: stroke 0.25s ease-in-out;
  transition: stroke 0.25s ease-in-out;
}

.projects__pannel .pannel-img .img-change svg:hover line {
  stroke: #007cff;
}

.projects__pannel .pannel-name {
  width: 33%;
  height: 100%;
  padding: 1vh 1vw;
  text-align: justify;
}

.projects__pannel .pannel-name h3 {
  padding-bottom: 1vh;
  text-align: center;
}

.projects__pannel .pannel-side {
  width: 33%;
  height: 100%;
  padding: 1vh 1vw;
}

.projects__pannel .pannel-side .tec {
  height: 33%;
}

.projects__pannel .pannel-side .tec h4 {
  padding-bottom: 1vh;
  text-align: center;
}

.projects__pannel .pannel-side .tec__icons img {
  width: 2.5vw;
  margin: 0 1vw;
}

.projects__pannel .pannel-side .cta {
  width: 100%;
  padding: 10%;
}

.projects__pannel .pannel-side .cta button {
  margin: 1vh 1vw;
}

.section-bg {
  position: absolute;
  z-index: 0;
  top: 60vh;
  width: 100vw;
  height: auto;
}

.profile {
  background-color: #0f0f0f;
  width: 100vw;
  height: 100vh;
}

.profile .cards {
  width: 100%;
  height: 100%;
}

.profile__card-data {
  background-color: #fafafa;
  width: 33%;
  height: 80%;
  margin-top: 5%;
  padding: 1vh 1vw;
  border-radius: 1vw;
}

.profile .data-link {
  width: 100%;
  height: 10%;
}

.profile .data-link img {
  height: 50%;
}

.profile .data-link p {
  margin-left: 1vw;
}

.profile .data-link p a {
  color: #0040ff;
}

.profile .w-40 {
  height: 40%;
}

.profile .more-margin-top-p p {
  margin-top: 1vh;
}
/*# sourceMappingURL=style.css.map */