.contact {
  background-image: linear-gradient(to top right, $blue-light, $blue-darker);

  width: 100vw;
  height: auto;
  margin-top: 5vh;

  &__form,
  &__links {
    min-width: 250px;
    width: calc(50% - 2rem);
    height: 100%;
    margin: 1rem;
  }

  &__form {
    h2 {
      margin-bottom: 2vh;
      width: 75%;
    }

    label {
      font-weight: 500;
      color: $white;
    }

    input,
    textarea {
      resize: none;
      width: 100%;
      padding: 1vh 1vw;
      margin: 1vh 0 2vh;

      border: none;
      border-radius: 1vw;

      &:focus {
        box-shadow: 0 0 3px 2px $blue-hover;
      }
    }

    .btn-form {
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      margin-bottom: 2vh;
    }
  }

  &__links {
    background-color: $white;
    padding: 1rem;

    border-radius: 1vw;

    p {
      a {
        color: $blue-darker;
      }
    }
  }
}

/* @media screen and (max-width: 768px) {
  .contact {
    height: 50vh;
  }
}

@media screen and (max-width: 700px) {
  .contact {
    height: 350px;
  }
} */

@media screen and (max-width: 627px) {
  .contact {
    :first-child {
      justify-content: center;
    }

    &__form,
    &__links {
      width: calc(100% - 2rem);
    }

    &__form {
      .btn-form {
        padding: 2vh 2vw;
      }
    }
  }
}
