* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
  color: $black;
}

html,
body {
  background-color: $white;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
}

body {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  margin: 0 7.5vw;
}

// flex
.flex {
  display: flex;
}

.flex-fdc {
  flex-direction: column;
}

.flex-aic {
  align-items: center;
}

.flex-jcc {
  justify-content: center;
}

.flex-jcsb {
  justify-content: space-between;
}

.flex-jcse {
  justify-content: space-evenly;
}
