* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $main-font;
  color: $black;
}

html,
body {
  background-color: $black;
  overflow-x: hidden;
  width: 100vw;
  height: 100vh;
  /* overflow: hidden; */
}

body {
  position: relative;
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  height: 100%;
  margin: 0 2.5vw 0 7.5vw;
}

.pos-rel-1 {
  position: relative;
  z-index: 1;
}

// flex
.flex {
  display: flex;
}

.flex-fdc {
  flex-direction: column;
}

.flex-fww {
  flex-wrap: wrap;
}

.flex-aic {
  align-items: center;
}

.flex-ais {
  align-items: flex-start;
}

.flex-jcc {
  justify-content: center;
}

.flex-jcsb {
  justify-content: space-between;
}

.flex-jcse {
  justify-content: space-evenly;
}

// font
.fs {
  &-big {
    font-size: 2.5vw;
  }

  &-med {
    font-size: 1.75vw;
  }

  &-small {
    font-size: 1.25vw;
  }

  &-smaller {
    font-size: 1vw;
  }
}

@media screen and (max-width: 500px) {
  .fs {
    &-big {
      font-size: 3.5vw;
    }

    &-med {
      font-size: 3.25vw;
    }

    &-small {
      font-size: 2.5vw;
    }
  }
}

.section-title {
  width: 25%;
  margin: 1vh 0;
  border-bottom: 2px solid $white;
  color: $white;
}

// buttons
.btn {
  cursor: pointer;
  background-color: $orange-highlight;
  padding: 1vw 0;

  border: none;
  border-radius: 0.5vw;

  transition: background-color 0.25s ease-in-out;

  svg {
    width: 2.5vw;
    height: auto;
    margin-left: 1vw;

    path,
    circle {
      transition: fill 0.25s ease-in-out;
    }
  }

  p,
  a {
    padding: 0 1vw;
    font-weight: 500;
    letter-spacing: 0.5vw;
    color: $white;
  }

  &:hover {
    background-color: $blue-highlight;

    svg path,
    svg circle {
      fill: $white;
    }
  }

  &-ex {
    background-color: $black;

    &:hover {
      background-color: $orange-hover;

      svg path,
      svg circle {
        fill: $white;
      }
    }
  }
}

.active-btn {
  background-color: $orange-highlight;
}
