.projects {
  background-color: $black;

  width: 100vw;
  height: 100vh;

  &__pannel {
    background-color: $white;
    width: 100%;
    height: auto;
    padding: 1vh 1vw;
    border-radius: 1vw;

    .pannel-img {
      width: 33%;
      height: 100%;
      padding: 1vh 1vw;

      text-align: center;

      .img-box {
        width: 100%;

        img {
          width: 100%;
        }
      }

      .img-change {
        position: relative;
        bottom: 0;

        svg {
          cursor: pointer;
          min-width: 25px;
          width: 2.5vw;
          height: auto;
          margin: 1vh 1vw;

          line {
            stroke: $orange-highlight;
            transition: stroke 0.25s ease-in-out;
          }

          &:hover {
            line {
              stroke: $blue-highlight;
            }
          }
        }
      }
    }

    .pannel-name {
      width: 33%;
      height: 100%;
      padding: 1vh 1vw;

      text-align: justify;

      h3 {
        padding-bottom: 1vh;
        text-align: center;
      }
    }

    .pannel-side {
      width: 33%;
      height: 100%;
      padding: 1vh 1vw;

      .tec {
        height: 33%;

        h4 {
          padding-bottom: 1vh;
          text-align: center;
        }

        &__icons {
          img {
            min-width: 25px;
            width: 2.5vw;
            margin: 0 1vw;
          }
        }
      }

      .cta {
        width: 100%;
        padding: 10%;

        a {
          margin: 1vh 1vw;
        }
      }
    }
  }
}

.section-bg {
  position: absolute;
  z-index: 0;
  top: 60vh;
  width: 100vw;
  height: auto;
}

@media screen and (max-width: 768px) {
  .projects {
    height: 50vh;
  }
}

@media screen and (max-width: 700px) {
  .projects {
    height: 350px;
  }
}

@media screen and (max-width: 500px) {
  .projects {
    height: auto;

    .projects__exs {
      flex-wrap: wrap;

      button {
        margin: 1%;
      }
    }

    &__pannel {
      margin-top: 1vh;
    }

    .pannel-img,
    .pannel-name,
    .pannel-side {
      min-width: 250px;
      width: 100%;
      margin: 1vh 1vw;
    }

    .pannel-img {
      .img-box {
        width: 100%;

        img {
          width: 75%;
        }
      }
    }

    .pannel-name {
      text-align: center;
    }
  }
}
