// colors
$black: #0f0f0f;
$white: #fafafa;

$orange-highlight: #ff8400;
$orange-hover: #ffa544;

$blue-highlight: #007cff;
$blue-hover: #b5d9ff;
$blue-light: #00c2ff;
$blue-darker: #0040ff;

// font
$main-font: "Poppins", sans-serif;
